// *************************************
//
//   Button
//
// *************************************

.btn {
  background: transparent;
  border-radius: 30px;
  border: solid 1px #25AB8E;
  color: #25AB8E;
  cursor: pointer
  font-family: $base-fontFamily;
  font-size: rem($base-fontSize);
  padding: rem(10px) rem(20px);
}

.btn:hover {
  background-color: rgba(#25AB8E, 0.2);
}
